#pwa-loader {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    opacity: 0.5;
    cursor: pointer; 

    background-color: #ddd;
    background-image: -webkit-linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
    background-size: 1.5625em 1.5625em;
    -webkit-animation: pwa-loader-stripes 650ms linear infinite;
    -moz-animation: pwa-loader-stripes 650ms linear infinite;
    animation: pwa-loader-stripes 650ms linear infinite;
  }
  @-webkit-keyframes pwa-loader-stripes {
    0% {
      background-position: -1.5625em 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @-moz-keyframes pwa-loader-stripes {
    0% {
      background-position: -1.5625em 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes pwa-loader-stripes {
    0% {
      background-position: -1.5625em 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  #footer-places-desktop-toggle { display: none; }
  .footer-places > .hlist-separated li:after { display:none; }

  .pwa-install-button { /* Show the install button as disabled.*/
     cursor: not-allowed;
     opacity: 50%;
  }